
/**
* ----------------------------------------------------------------------
* TGM plugin activation page improvements
*/

/*
#tgmpa-plugins .status .button {
	margin-top: -3px;
	margin-left: 20px;
	color: #fff!important;
}

#tgmpa-plugins .plugins .row-actions {
	visibility: visible;
}
*/
